
# ------------APP------------------
# Variables utilisé par l'api 

# Utile seulment si on lance l'application ou la migration sans compose 
DB_URI= #driver://user:password@localhost:5432/my-database

# Pour obtenir une clé pour signer les JWT utilisé:
# ```openssl rand -hex 32```
# Pour tester vous pouvez utiliser la clé suivante /!\ Ne pas utiliser en production. Cette clé est publique
JWT_SECRET=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# utilisé dans docker compose sert. Port sur lequel l'api doivent être rendu accessible
LOCAL_API_PORT=8000


# ----------INSERT-DATA--------------
# Utiles que lors de l'insertion des données initiales dans la database (python app/database.py)
ADMIN_EMAIL="admin@restau-simplon.com"
ADMIN_PASSWORD="admin"


# ------------DB SETUP---------------
# /!\ Ne pas oublier de changer les valeurs par défaut en production
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=test_db
POSTGRES_PORT=5432
LOCAL_DB_PORT=5432


# -----TEST INTEGRATION-----------
API_URL=http://localhost:8000